.container {
    width: 40%;
}
/* section class="button-container" 하위 button  */
section.button-container > button {
    border-radius: 5px;
    background-color: rgb(204, 240, 240);
    color:rgb(9, 18, 27);
}

section.button-container > button:active {
    background-color: rgb(55, 134, 134);
    color:aliceblue;    
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
}

.card-container:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}